

<form action="{{ path('app_quick_checkout', {'id': product.variants.first().id}) }}" method="post">
    <button type="submit" class="ui huge yellow icon labeled button"><i class="bolt icon"></i>Quick Checkout</button>
</form>
